@media (max-width:475px){
    body{
        background:url(images/main\ background\ spalsh.jpg), linear-gradient(to top, white,rgba(255, 255, 255, 0.671), transparent);
        background-blend-mode: overlay;
        background-size:cover;
        background-position:center;
    }
    main{
        background:none;        
        padding:7% 6% 2% 6%;
        height:auto;        
        width:auto;        
    }
    nav{
        margin-bottom:3vh;
    }
    nav #logo{
        display:block;
    }
    nav button{
        display:none;
    }    
    nav #mobileMenuBtn{
        display:block;
    }
    nav .mobile-menu{
        /* display:none; */
        position:absolute;
        top:0;
        right:0;
        background-color: black;
        color:white;
        width:100%;
        padding:7% 6% 2% 6%;
        box-sizing: border-box;
        z-index:2;
    }
    nav #mobile-logo{
        color:white;        
    }
    nav .mobile-menu-header{
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin-bottom:4vh;
    }
    
    nav .mobile-menu ul{
        margin:0;
        list-style-type:none;
        padding:0;        
        
    }
    nav .mobile-menu ul li a{
        color:white;
        font-family: "poppins";
        font-size:3.5vw;
        font-weight:300;     
        border-bottom:3px rgb(73, 91, 253) solid;           
    }
    nav .mobile-menu ul li{
        margin-top:2vh;
        margin-bottom:3vh;
        padding-bottom:2vh;       
    }
    nav p{
        font-size:4.8vw;        
    }
    
    nav ion-icon{
        font-size:5vw;        
    }
    .mobile-menu ul p{
        font-family: "poppins";
        font-weight:300;
        font-size:3.4vw;
        
    }
    .mobile-menu ul p a{
        color:white;
        text-decoration:none;
    }
    .main-text-container{
        border: 1px black solid;
        padding:8vw 1vw;
    }
    .main-text-container h1{
        font-size:10vw;
        text-align:center;
    }
    .main-text-container h1 span{
        color:#D10000;
    }
    .main-text-container p{        
        letter-spacing:0.4vw;        
        font-size: 3vw;
        text-align:center;
        font-weight: 600;
    }
    .column-container{
        display:block;        
        
    }
    .column-container .col{
        width:100%;
        box-sizing:border-box;
        margin-bottom:6vh;
    }
    .col p{
        font-size:3vw;
    }
    .col-header h2{        
        font-size:4vw;
        text-transform: uppercase;
    }
    .col-header{        
        padding-bottom:1vh;
    }
    .col-header::before{
        display:none;
    }
    .col-header button{
        display:block;
        opacity:1;
    }
    #mobile-only-text{
        display:block;
        text-transform: uppercase;
        color:#D10000;
        text-align:center;
        font-size:4vw;
        padding:2vh 0;
        font-weight: 500;
    }
    footer{
        display:block;
        background-color:black;        
        width:100%;
        color:white;
        display: flex;
        align-items: center;
        padding:5% 30%;
        box-sizing: border-box;
        justify-content:space-between;
    }
    footer span ion-icon{  
        font-size:3.3vh;      
        color:white;
    }
    .col p{
        text-align:center;
    }
    /* grid */
    .grid{
        display:block;    
        justify-content:space-between;
        flex-wrap:wrap;
    }
    .tile{
        margin:3vh 0;
        border-radius:1.6vw;
    }
    .grid .text{
        width:70%;
        font-size:3vw;
    }
    .grid .btn{
        width:30vw;
        background-color: #636ECA;
    }
    
}