@media (max-width:475px){
    body{
        background:url(images/main\ background\ spalsh.jpg), linear-gradient(to top, white,rgba(255, 255, 255, 0.925),rgba(255, 255, 255, 0.9), transparent);
        background-blend-mode: overlay;
        background-size:cover;
        background-position:center;
    }
    main{
        background:none;        
        padding:7% 6% 2% 6%;
        height:auto;        
        width:auto;        
    }
    nav{
        margin-bottom:3vh;
    }
    nav #logo{
        display:block;
    }
    nav button{
        display:none;
    }    
    nav #mobileMenuBtn{
        display:block;
    }
    nav .mobile-menu{
        display:none;
        background-color: black;
        color:white;
        width:100%;
        padding:2vh 2vw;        
    }
    nav #mobile-logo{
        color:white;        
    }
    nav .mobile-menu-header{
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin-bottom:4vh;
    }
    
    nav .mobile-menu ul{
        margin:0;
        list-style-type:none;
        padding:0;        
        
    }
    nav .mobile-menu ul li a{
        color:white;
        font-family: "josefin sans";
        font-size:6vw;
        font-weight:100;                
    }
    nav .mobile-menu ul li{
        margin-bottom:4vh;
        padding-bottom:2vh;       
    }
    nav p{
        font-size:4.8vw;        
    }
    
    nav ion-icon{
        font-size:5vw;        
    }
    .main-text-container{
        border: 1px black solid;
        padding:8vw 1vw;
    }
    .main-text-container h1{
        font-size:10vw;
        text-align:center;
    }
    .main-text-container h1 span{
        color:#D10000;
    }
    .main-text-container p{        
        letter-spacing:0.4vw;        
        font-size: 3vw;
        text-align:center;
        font-weight: 600;
    }
    .column-container{
        display:block;        
        
    }
    .column-container .col{
        width:100%;
        box-sizing:border-box;
        margin-bottom:6vh;
    }
    .col p{
        font-size:3vw;
    }
    .col-header h2{        
        font-size:4vw;
        text-transform: uppercase;
    }
    .col-header{        
        padding-bottom:1vh;
    }
    .col-header::before{
        display:none;
    }
    .col-header button{
        display:block;
        opacity:1;
    }
    footer{
        display:block;
        background-color:black;        
        width:100%;
        color:white;
        display: flex;
        align-items: center;
        padding:5% 30%;
        box-sizing: border-box;
        justify-content:space-between;
    }
    footer span ion-icon{  
        font-size:3.3vh;      
        color:white;
    }
    
}