@media (max-width:475px){
    main{
        background:url(images/main\ background\ spalsh.jpg)linear-gradient(from bottom to top, rgb(255, 255, 255), transparent);
        background-blend-mode: overlay;
        background-size:contain;
        background-repeat:no-repeat;
        background-position:top;
        padding:7% 6% 2% 6%;
        height:auto;        
        width:auto;
        box-sizing: border-box; 
        /* position:relative; */
        z-index:0;
    }
    nav{
        margin-bottom:3vh;
    }
    nav button{
        display:none;
    }
    nav p{
        font-size:4.8vw;        
    }
    nav span{
        display:block;
    }
    nav ion-icon{
        font-size:5vw;        
    }
    .main-text-container{
        border: 1px black solid;
        padding:8vw 1vw;
    }
    .main-text-container h1{
        font-size:10vw;
        text-align:center;
    }
    .main-text-container h1 span{
        color:#D10000;
    }
    .main-text-container p{        
        letter-spacing:0.4vw;        
        font-size: 3vw;
        text-align:center;
        font-weight: 600;
    }
    .column-container{
        display:block;        
        
    }
    .column-container .col{
        width:100%;
        box-sizing:border-box;
        margin-bottom:6vh;
    }
    .col p{
        font-size:3vw;
    }
    .col-header h2{        
        font-size:4vw;
        text-transform: uppercase;
    }
    .col-header{        
        padding-bottom:1vh;
    }
    .col-header::before{
        display:none;
    }
    .col-header button{
        display:block;
        opacity:1;
    }
    footer{
        display:block;
        background-color:black;        
        width:100%;
        color:white;
        display: flex;
        align-items: center;
        padding:10% 30%;
        box-sizing: border-box;
        justify-content:space-between;
    }
    footer span ion-icon{  
        font-size:3.3vh;      
        color:white;
    }
    
}